@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');


* {
    box-sizing: border-box;
    border: 1px solid black;
}


body {
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
}

nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    margin-top: 300px;
    margin-left: 50px;
}

nav > button {
    width: 100px;
    height: 40px;
    margin-top: 15px;
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: large;
}

header {
    display: flex;
}

#clientServicePage {
    width: 1920px;
    height: 4810px;
    display: flex;
    flex-direction: column;
}

#clService-headImage-box {
    width: 1920px;
    height: 250px;
    background-image: url("/semiProjectImage/기차-고객지원.jpg");
    background-size: cover;
}

main {
    display: flex;
    flex-direction: column;
    height: 4420px;
}

#textPack {
    flex-basis: 5%;
    display: flex;
    flex-direction: column;
}

#textPack > section:nth-child(1) {
    flex-basis: 30%;
    font-size: x-large;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Gowun Dodum', sans-serif;
}

#textPack > section:nth-child(2) {
    flex-basis: 70%;
    display: flex;
}

#textPack-bottom > div:nth-child(1) {
    flex-basis: 30%;
    display: flex;
    justify-content: end;
    align-items: end;
    font-size: x-large;
    font-family: 'Gowun Dodum', sans-serif;
}

#introduceText {
    flex-basis: 10%;
    display: flex;
    justify-content: center;
}

#introduceText > div {
    flex-basis: 30%;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: large;
    font-family: 'Gowun Dodum', sans-serif;
    line-height: 40px;
}

#teamImage-area {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 10%;
}

#teamImage-area > div > img {
    width: 900px;
    height: 500px;
    border-radius: 20px;
}

#noticeArea {
    display: flex;
    flex-basis: 15%;
    justify-content: center;
    align-items: center;
}

#noticeArea > div {
    flex-basis: 50%;
    margin-bottom: 15   0px;
    font-size: x-large;
    font-family: 'Gowun Dodum', sans-serif;
}

#FAQ-area {
    display: flex;
    flex-basis: 15%;
    justify-content: center;
    align-items: center;
}

#FAQ-box {
    flex-basis: 50%;
    font-size: x-large;
    font-family: 'Gowun Dodum', sans-serif;
}

#FAQ-box > div:last-of-type {
    background-color: #ECECEC;
    border-radius: 10px;
    font-size: 20px;
}

#ask-area {
    flex-basis: 15%;
    display: flex;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
}

#ask-area > div {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    font-family: 'Gowun Dodum', sans-serif;
    font-size: x-large;
    background-color: rgba(0, 0, 0, 0.1)   ;
    border-radius: 10px;
}

#ask-area > div > section:nth-of-type(1) {
    flex-basis: 15%;
}

#ask-area > div > section:nth-of-type(2) {
    flex-basis: 30%;
    display: flex;
}

#ask-area > div > section:nth-of-type(3) {
    flex-basis: 40%;
}

#ask-area > div > section:nth-of-type(4) {
    flex-basis: 15%;
}

#ask-infor > div {
    background-color: #D9D9D9;
}































